/*.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}


.list-view .list-cell:even {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 50px;
}
.list-view .list-cell:odd {
    -fx-background-color: lightgray;
    -fx-text-fill: black;
    -fx-font-size: 50px;
}*/


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    /*-fx-background-color: red;*/
    -fx-text-fill: white;
}
.list-cell
{
    -fx-text-fill: #2a8773;
    -fx-font-size: 30px;
}
.list-cell:odd {
    -fx-background-color: #212121;
}
.list-cell:even {
    -fx-background-color: #242423;
}
